@charset "utf-8";
/* Screen Density 100 to 125 */
* {font-size: inherit !important;
font-family: "Tahoma" !important;
font-style: normal !important;
font-variant: normal !important;
font-weight: 500 !important;
line-height: 1.3 !important;
letter-spacing: 0.03em !important;
}
body {font-size: 17pt !important;
padding: 1.25cm !important;
}
body > * {font-size: 5em !important;
}
/**** End of Screen Density 100 ***/
